/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-mar-2017, 12.06.58
    Author     : Studente
*/

body{
    background-color: #E5D9EE;
    font: 15px/25px "Open Sans",Arial,sans-serif; /*dimensione font e della linea e spazio tra le righe, se non c'e usa arial altrimenti sens serif'*/
   
}
h1{
    margin-top: 0px; /*Esaminato con inspector*/
    color: #111111;
    font: 35px/40px "Open Sans", Arial, sans-serif;
    font-weight: bold;
}

h2{
    margin-top: 0px; /*Esaminato con inspector*/
    color: #333333;
    font: 23px/40px "Open Sans", Arial, sans-serif;
    font-weight: bold;
}

h3{
    margin-top: 0px; /*Esaminato con inspector*/
    color: #333333;
    font: 17px/40px "Open Sans", Arial, sans-serif;
    font-weight: bold;
}

a:link{
    font-size: 25px;
    text-decoration: none;
    color: #111111;
}
a:visited{
    font-size: 20px;
    text-decoration: none;
    color: #111111;
}
a:hover{
    font-weight: bold;
}

#input{
     background-color: #E5D9EE;
    font: 15px/25px "Open Sans",Arial,sans-serif;
}
li {
    list-style: none;
}
label,input,textArea{
    color: #111111; /* Colore del testo */
    font: 15px/40px "Open Sans", Arial, sans-serif;
}
